* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: powderblue;
}

/* Book */
.book {
    position: relative;
    width: 551px;
    height: 780px;
    transition: transform 0.5s;
}


.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 2500px;

}

.a4-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: #1d3392;
    cursor: pointer;
    transition: transform 0.5s;

    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

.circle-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.2s;
}

.circle-btn:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

